<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lista de Candidatos</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div id="listaCanditatos">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Detalhe</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tr th:each="bem : ${bens}">
                    <td><span th:text="${bem.getId()}"></span></td>
                    <td><span th:text="${bem.getDetalheBem()}"></span> </td>
                    <td><span th:text="${bem.getValorBem()}"></span> </td>
                    <td><span th:text="${bem.getDsTipoBemCandidato()}"></span> </td>
                </tr>
            </table>
        </div>
        <a href="/" class="btn btn-lg btn-primary" style="margin-bottom: 15px">Voltar para a lita de candidatos</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>